// ==============================
// Custom style
// 自定义样式
// ==============================

.single{
    .content {
        p{
            line-height: 1.75rem;
            margin: 1.5rem 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}